@model Demo_DeSoMot.Models.Sinhvien

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sinhvien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Masv" class="control-label"></label>
                <input asp-for="Masv" class="form-control" />
                <span asp-validation-for="Masv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaysinh" class="control-label"></label>
                <input asp-for="Ngaysinh" class="form-control" />
                <span asp-validation-for="Ngaysinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nganh" class="control-label"></label>
                <input asp-for="Nganh" class="form-control" />
                <span asp-validation-for="Nganh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label >Tên lớp</label>
                <select asp-for="Malop" class="form-control" asp-items="ViewBag.ListLop"></select>
                <span asp-validation-for="Malop" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
